.cargo-header{
    display: flex;
    justify-content: space-between;
}
.cargo-header > div{
    padding: 10px;
}
.third-section{
    padding-top: 30px;
    background-color:#fafcfc;
   padding: 20px;
   margin-bottom: 18px;
}
.cargo-section {
    padding: 10px;
}
.cargo-section input[type='number']:focus{
    outline: none;
}
.cargo-section > input{
    padding: 10px 15px;
    margin: 0px;
    border-radius: 0%;
}
.sec-cargosection{
    padding-top: 20px;
    display: flex;
   
}
.sec-cargosection > div{
    padding:8px;
    z-index: 1;
}
.sec-cargosection input[type=number]{
    width: 100%;
    padding: 15px 30px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fafcfc;
  }
  .sec-cargosection label{
      position:absolute;
      z-index: 1;
      background-color: #ffff;
  }
  .sec-cargosection input[type=number]:focus{
      outline: none;
  }
  
input[type ='number']::placeholder{
    text-align:right;
}
.togg-form{
    display: flex;
    font-size: 16px;
}
.chemicals{
    padding: 2px;
}
.weight-class input{
    border-radius: 3px;
}
@media screen and (max-width: 1250px){
   .cargo-section > input{
       padding: 4px 2px;
   }
}