.form-body{
    padding-bottom: 30px;
}
.section{
    background-color:#fafcfc;
    padding: 20px;
}
.first-form{
    padding: 10px;
    padding-bottom: 30px;
}
.first-form h3{
    padding-bottom: 10px;
}
.section h3{
   padding-bottom: 30px;
}
.freight{
    display: flex;
    flex-wrap: nowrap;
}
.freight .air{
    background-color:#4248f5 ;
}
.freight .air h3,.freight .truck h3,.freight .ship h3,.freight .user h3{
    padding: 22px;
    font-size: 17px;
}

.freight > div{
   width: 100px;
 border: 1px solid #bfc5c7;
  margin: 10px;
  flex: 1;
  height: 15vh;
  padding-top: 10px;
  box-sizing: border-box;
  color:#bfc5c7;
  overflow: hidden;
}
 fa {
    font-size:4rem;
    border: none;
    margin: none;
    
}
.air span img{
    width: 80px;
    height: 16vh;
  padding-top: 10px;
}
.air{
    display: flex;
    justify-content: space-between;
}
.truck{
    display: flex;
    justify-content: space-between;
}
.ship{
    display: flex;
    justify-content: space-between;
}
.spans{
    padding-top: 25px;
}
.user{
    display: flex;
    justify-content: space-between;
}
.freight div h3{
    padding:10px;
}
@media screen and (max-width: 1250px){
    fa {
        font-size:3rem;
    }
    .freight > div{
        padding-left: 0;
    }
   
    .freight > div h3{
        padding-left: 0;
    }
    .section h3{
        padding-bottom: 0;
    }
}