.last-form{
    background-color: #fafcfc;
    padding-top: 10px;
    padding: 5px;
    height: 50vh;
}
.last-form h3{
    padding: 10px;
}
.form-section{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 100px 100px;
    padding: 20px;
}
.toggle-form{
    display: flex;
}
.toggle-form p{
    padding-top:5px;
}
.form-child{
   flex: 0.7;
}

