.last-form{
    background-color: #fafcfc;
    padding-top: 10px;
    padding: 10px;
}
.last-form h3{
    padding: 19px 0px 30px 30px;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.container-child{
    display: flex;
}
.new-container {
    padding-left: 40px;
}
.new-container p{
    padding-top: 3px;
}

